@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
}
.heading1{
    font-size: 1.5em;
    font-weight: 600;
    margin-left: 40px;
}
.heading2{
    font-size: 1.5em;
    font-weight: 600;
    margin-left: 40px;
    margin-top: 10%;
}
.card{
    width: 17%;
    box-shadow: 0 2px 10px rgb(0 0 0 / 30%);
}
.card img{
    width: 100%;
    height: auto;
}
#clothing{
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
#accessories{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
.card h3{
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;
    color: rgb(27, 25, 25);
    padding-left: 10px;
    margin-top: 10px;
}
.card h4{
    text-align: left;
    font-size: 12px;
    color: rgb(110, 110, 110);
    padding-left: 10px;
    margin-top: 10px;
}
.card h5{
    font-size: 15px;
    letter-spacing: 2px;
    color: #009688;
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 8px;
}
@media only screen and (max-width: 480px) {
    .card{
        width: 45%;
        margin-bottom: 10px;
    }
}
